@using SampleWebApp.Controllers
@model IndexViewModel

<ul>
    <li><b>Host Name:</b> @Model.HostName</li>
    <li><b>Environment:</b> @Model.EnvironmentName</li>
    <li><b>Test Setting:</b> @Model.TestSetting</li>
    <li><b>Test File Location:</b> @Model.TestFileLocation</li>
    <li><b>Test File Contents:</b> @Model.TestFile</li>
    <li><b>Web API Get URI:</b> @Model.WebApiGetUri</li>
    <li><b>Web API Get Result:</b> @Model.WebApiGetResult</li>
</ul>